*{
    overflow:scroll ;
}
@font-face {
    font-family: "baskervvillePolice";
    src: url("/baskervville/Baskervville-Regular.otf");
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-image: url("/assets/galaxy.jpg");
    background-size: cover;
}



ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    height: 20%;

}


header>nav>ul>li {
    text-align: center;
    width: calc(100vw/4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2vh;
}


#mercury,
#venus,
#earth,
#moon {
    width: 10vh;
    height: auto;
}

#earth:hover {
    animation: rotation 2s infinite linear;
}

#mercury:hover,
#moon:hover,
#venus:hover,
#iss:hover {
    filter: drop-shadow(1vw 1vh 1vh gold)
}
.h1Home {
    margin: 3vh 0 0 5vw;
    z-index: 1;
}

/* Début body */ 



.h1titre>h1{
    display: flex;
    justify-content: center;
    margin-top: 2vh ;
    color : white; 
}

.bloc1 {
    display: grid;
    grid-template-columns: 500px 500px;
    justify-content: center;
    text-align: justify;
    font-size:large;
}
