/* Import de la police Baskerville */
@font-face {
    font-family: "baskervvillePolice";
    src: url("/public/assets/font/Baskervville-Regular.otf");
}

/* Corps CSS pour mobile */
/* Header et body */
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-image: url("/public/assets/galaxy.jpg");
    background-size: cover;
}



ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    height: 20%;

}


header>nav>ul>li {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2vh;
}


#mercury,
#venus,
#earth,
#moon {
    width: 10vh;
    height: auto;
}

/*permet de créer une fonction qui fera tourner la planète Terre*/
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

#earth:hover {
    animation: rotation 2s infinite linear;
    /*invocation de la fonction rotation définie plus tôt */
}

#mercury:hover,
#moon:hover,
#venus:hover,
#iss:hover {
    filter: drop-shadow(1vw 1vh 1vh gold)
        /*le filter permet d'appliquer le drop-shadow au fichier png et non à la div*/
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    height: 80%;

}

/* Page index.html */
.h1Home {
    margin: 3vh 0 0 5vw;
    z-index: 1;
}

main>h1 {
    font-family: 'baskervvillePolice';
    color: #ECECEC;
    font-size: 10vw;
    width: 70vw;
}

.contact>h1 {
    text-align: center;
    margin-top: 3vh;
}

h2 {
    font-family: 'baskervvillePolice';
    font-size: small;
    color: #ECECEC;
}


.galleryDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 45vw;
    margin: 3vh 0 0 5vw;
}

#iss {
    width: 100%;
    height: auto;

}


.pesquetImage {
    width: auto;
    height: 80%;
    position: fixed;
    bottom: 0;
    right: -9vw;
    /*permet de positionner l'image de Thomas depuis la droite*/
    overflow: hidden;
    /*permet de cacher la partie de l'image qui dépasse */
}

.gallery {
    width: 100vw;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 2vh;
}

.gallery>h1 {
    width: 100vw;
    text-align: center;
    margin: 2vh;
}

.gallery>.divImageGallery {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.divImageGallery>img {
    height: calc(70vh/3);
    width: auto;
}

/*  CSS page contact.html*/
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 100%;
}

.Contact>img {
    max-height: 20vh;
    width: auto;
    margin-top: 5vh;


}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 5vh;
    width: 100%;
    height: auto;

}

form>h2 {
    margin-top: 20%;
    text-align: left;
}


input {
    width: 30vh;
    height: 5%;
}

#textarea {
    height: 15vh;
}


.button {
    background-color: #283b63;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-top: 3vh;
}



#hiddenImage {
    display: none;
}

/*Media Queries*/

@media screen and (min-width:414px) {
    .pesquetImage {
        height: 85%;
    }

    main>h1 {
        font-size: 8vw;
        width: 50%;

    }


    .gallery>.divImageGallery {
        display: grid;
        width: 100vw;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
    }

    #hiddenImage {
        display: initial;
    }
}

@media screen and (min-width:768px) {
    ul {
        display: flex;
        justify-content: flex-start;
    }

    header>nav>ul>li {
        width: 20vw;
    }

    .pesquetImage {
        height: 95%;
        right: -5vw;
    }
}